atlassian-python-api==3.12.1
certifi==2021.10.8
charset-normalizer==2.0.3
cliar==1.3.4
contextlib2==21.6.0
defusedxml==0.7.1
Deprecated==1.2.12
foliant==1.0.12
foliantcontrib.escapecode==1.0.4
foliantcontrib.flatten==1.0.7
foliantcontrib.includes==1.1.13
foliantcontrib.meta==1.3.3
foliantcontrib.pandoc==1.1.1
foliantcontrib.utils==1.0.2
idna==3.2
importlib-metadata==4.8.2
jira==3.1.1
keyring==23.4.0
numpy==1.21.4
oauthlib==3.1.1
pandas==1.3.4
prompt-toolkit==2.0.10
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
schema==0.7.4
six==1.16.0
urllib3==1.26.6
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.6.0
